.idea
locationDistanceDsl.parent/.gradle
locationDistanceDsl.parent/gradle
locationDistanceDsl.parent/gradlew
locationDistanceDsl.parent/gradlew.bat
locationDistanceDsl.parent/locationDistanceDsl.idea/src/main
locationDistanceDsl.parent/locationDistanceDsl.ide/src/main
locationDistanceDsl.parent/locationDistanceDsl.ide/build/
locationDistanceDsl.parent/locationDistanceDsl/build/

# all generated java files
**/*.java
**/*.java._trace

# generated xtext files
**/*.g 
**/*.tokens
**/*.ecore
**/*.xtextbin
**/*.genmodel